html {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--neutralColorLighter) var(--bg-primary);
}


body {
    background-color: var(--bgColor);
    line-height: 1.6;
    font-size: var(--font-size);
    color: var(--fontColor);
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    /*fallback*/
    font-family: var(--fontFamilySans);
    margin: 0;
    padding: 0;
}




img {
    max-width: 100%;
}

fieldset {
    border: 1px solid var(--neutralColorLighter);
}

iframe {
    border: 0;
}
