.container {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 96%;
    padding: 0 calc(var(--grid-gutter) / 2);
    display: flex;
    flex-wrap: wrap;
    --gap: calc(var(--baseUnit) * 2);
    gap: var(--gap);
}

.container > *{
  flex-grow: 1;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
}
