
@import 'colors.css';
@import 'typographies.css';
@import 'buttons.css';
@import 'form.css';
@import 'grid.css';
@import 'variables.css';
@import 'tables.css';
html {
          box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  background-color: var(--greyColor);
  line-height: 1.6;
  font-size: var(--baseUnit);
  color: var(--blackColor);
  font-family: var();
  margin: 0;
  padding: 0;
}

/* Crédits :
            Bryan -> Mise en place du fichier
*/
