:root {
    
/*COULEURS*/
    
    /*Couleur de fond*/
    --bgColor: #ffffff;
    
    /*Gris*/
    --neutralColor: #747681;
    --neutralColorLighter: #d2d6dd;
    --neutralColorDarker: #3f4144;
    --errorColor: #d43939;
    --successColor: #28bd14;
    
    /*Bleu*/
    --primaryColor: rgba(0, 135, 255, 1);
    --primaryColorLighter: rgba(145, 202, 252);
    --primaryColorDarker: rgba(0, 22, 42);
    
    /*Violet*/
    --secondaryColor: rgba(131, 0, 255);
    --secondaryColorLighter: rgba(194, 130, 255);
    --secondaryColorDarker: rgba(31, 0, 59);
    
    /*Couleur de font*/
    --fontColor: #333333;
    
    
/*ÉTALON DE MESURE*/
    --baseUnit: 16px;
    
    
/*GRILLE*/
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    
    
/*GRILLE*/
    --fontFamilySans: ITC Avant Garde Gothic Std, "Circular Std", -apple-system, "Avenir", "Avenir Next", "Segoe UI", "Roboto", "Helvetica Neue", "SF Pro Display", "Arial", sans-serif; 
    
    --fontFamilyMono: monaco, "Consolas", "Lucida Console", monospace;
}
