:root {
    --neutralColor: 50, 50, 50;
    --primaryColor: 100, 50, 175;
    --primaryColorDarker: 100, 50, 125;
    --secondaryColor: 255, 0, 45;
    --baseUnit: 16px;
    
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --primaryColor: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --errorColor: #d43939;
    --successColor: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-color: #333333;
    --font-family-sans: ITC Avant Garde Gothic Std, "Circular Std", -apple-system, "Avenir", "Avenir Next", "Segoe UI", "Roboto", "Helvetica Neue", "SF Pro Display", "Arial", sans-serif; 
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
