/*
a {
    text-decoration: none;
    color: rgba(var(--neutralColor), 1);
    font-size: var(--baseUnit);
}

a:hover {
    background-color: rgba(var(--neutralColor), .75);
    color: white;
}
*/

a {
    text-decoration: none;
    font-weight: 500;
}



.primary--link {
    color: rgba(var(--primaryColor), 1);
}

.primary--link:hover {
    background-color: rgba(var(--primaryColor), .75);
}

.big--link {
    font-size: calc(var(--baseUnit) * 1.25);
}

.small--link {
    font-size: calc(var(--baseUnit) * .75);
}





button {
    margin: 0.5rem;
    padding: .75rem 1rem .75rem 1rem;
    border: none;
    border-radius: 5rem;
}



.primary--button {
    color: rgba(255, 255, 255, 1);
    background-color: var(--primaryColor);
}

.primary--button a {
    color: rgba(255, 255, 255, 1);
}


.primary--button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: var(--primaryColorDarker);
}

.primary--button:hover a {
    color: rgba(255, 255, 255, 1);
}




.secondary--button {
    color: var(--primaryColor);
    background-color: var(--secondaryColorLighter);
}

.secondary--button a {
    color: var(--primaryColor);
}


.secondary--button:hover {
    color: var(--primaryColor_1);
    background-color: var(--primaryColor);
}

.secondary--button:hover a {
    color: rgba(255, 255, 255, 1);
}



.third--button {
    color: var(--primaryColor);
    background-color: var(--color-lightGrey);
    border: 2px solid var(--primaryColor);
}

.third--button a {
    color: var(--primaryColor);
}


.third--button:hover {
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}

third--button:hover a {
    color: var(--primaryColor);
}





.big--button {}

.medium--button {
    margin: 0.5rem;
    padding: .55rem .85rem .55rem .85rem;
    border-radius: 5rem;
}


.small--button {
    font-size: .75rem;
    margin: 0.5rem;
    padding: .4rem .7rem .4rem .7rem;
    border-radius: 5rem;
}

/* Crédit : Baptiste */
