/* u can choose your COLORS */

.primaryColor {
<<<<<<< HEAD
  color: rgb(255, 112, 44);
  }
  
  .secondaryColor {
    color: rgb(255, 151, 102);
  }
  
  .thirdColor {
    color: rgb(255, 187, 155);
  }
  
  .blackColor {
    color: rgb(37, 12, 0);
  }
  
  .whiteColor {
    color: rgb(255, 249, 247);
  }
  
  .greyColor {
    color: rgb(231, 223, 221);
  }
  
  /* Crédits :
              Blanche -> choix des couleurs
              Bryan -> nom des classes
  */
  
=======
color: rgb(255, 112, 44);
}

.secondaryColor {
  color: rgb(255, 151, 102);
}

.thirdColor {
  color: rgb(255, 187, 155);
}

.blackColor {
  color: rgb(37, 12, 0);
}

.whiteColor {
  color: rgb(255, 249, 247);
}

.greyColor {
  color: rgb(231, 223, 221);
}

/* Crédits :
            Blanche -> choix des couleurs
            Bryan -> nom des classes
*/
>>>>>>> main
