/*
Titles
Titres
*/

@font-face {
    font-family: 'Kelson Sans';
    src: url('FONT/Title/KelsonSans-Bold.eot');
    src: url('FONT/Title/KelsonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('FONT/Title/KelsonSans-Bold.woff2') format('woff2'),
        url('FONT/Title/KelsonSans-Bold.woff') format('woff'),
        url('FONT/Title/KelsonSans-Bold.ttf') format('truetype'),
        url('FONT/Title/KelsonSans-Bold.svg#KelsonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('FONT/Title/KelsonSans-Normal.eot');
    src: url('FONT/Title/KelsonSans-Normal.eot?#iefix') format('embedded-opentype'),
        url('FONT/Title/KelsonSans-Normal.woff2') format('woff2'),
        url('FONT/Title/KelsonSans-Normal.woff') format('woff'),
        url('FONT/Title/KelsonSans-Normal.ttf') format('truetype'),
        url('FONT/Title//KelsonSans-Normal.svg#KelsonSans-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('FONT/Title/KelsonSans-Light.eot');
    src: url('FONT/Title/KelsonSans-Light.eot?#iefix') format('embedded-opentype'),
        url('FONT/Title/KelsonSans-Light.woff2') format('woff2'),
        url('FONT/Title/KelsonSans-Light.woff') format('woff'),
        url('FONT/Title/KelsonSans-Light.ttf') format('truetype'),
        url('FONT/Title/KelsonSans-Light.svg#KelsonSans-Light') format('svg');
    font-weight: 100;
    font-style: normal;
}





/*
Paragraphs
Paragraphes
*/

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-MediumItalic.eot');
    src: local('FONT/Paragraph/Circular Std Medium Italic'), local('FONT/Paragraph/CircularStd-MediumItalic'),
        url('FONT/Paragraph/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-MediumItalic.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-MediumItalic.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-Black.eot');
    src: local('FONT/Paragraph/Circular Std Black'), local('CircularStd-Black'),
        url('FONT/Paragraph/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-Black.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-Black.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-Medium.eot');
    src: local('FONT/Paragraph/Circular Std Medium'), local('FONT/Paragraph/CircularStd-Medium'),
        url('FONT/Paragraph/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-Medium.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-Medium.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-Bold.eot');
    src: local('FONT/Paragraph/Circular Std Bold'), local('FONT/Paragraph/CircularStd-Bold'),
        url('FONT/Paragraph/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CFONT/Paragraph/ircularStd-Bold.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-Bold.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-BlackItalic.eot');
    src: local('FONT/Paragraph/Circular Std Black Italic'), local('FONT/Paragraph/CircularStd-BlackItalic'),
        url('FONT/Paragraph/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-BlackItalic.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-BlackItalic.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('FONT/Paragraph/CircularStd-BookItalic.eot');
    src: local('FONT/Paragraph/Circular Std Book Italic'), local('FONT/Paragraph/CircularStd-BookItalic'),
        url('FONT/Paragraph/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-BookItalic.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-BookItalic.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('FONT/Paragraph/CircularStd-BoldItalic.eot');
    src: local('FONT/Paragraph/Circular Std Bold Italic'), local('FONT/Paragraph/CircularStd-BoldItalic'),
        url('FONT/Paragraph/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-BoldItalic.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-BoldItalic.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('FONT/Paragraph/CircularStd-Book.eot');
    src: local('FONT/Paragraph/Circular Std Book'), local('FONT/Paragraph/CircularStd-Book'),
        url('FONT/Paragraph/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('FONT/Paragraph/CircularStd-Book.woff2') format('woff2'),
        url('FONT/Paragraph/CircularStd-Book.woff') format('woff'),
        url('FONT/Paragraph/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Crédits :
	Baptiste -> Style font
*/
