/* u can choose your TYPOGRAPHIES */

@charset "UTF-8";
body {
	font-family:"";
	line-height:1.5;
	font-weight:400;
	font-size:16px;
	border-radius:0.25rem;
	border-width:1px;
	outline-width:3px;
	spacing:1rem;
  transition:0.2s ease-in-out;
}


html {
    font-family: Circular Std, SF Pro Display, Arial, sans-serif;

    /*rem est relatif au em défini de base. rem a utiliser en priorité, évite les mauvaise surprise*/
    font-size: var (--baseUnit);
}


/*Titres*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:"";
	text-transform: uppercase;
	font-weight:700;
	line-height:;
}


h1,
.h1 {
    font-size: 3.25rem;
    line-height: 3.25rem;
}

h2,
.h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
}

h3,
.h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h4,
.h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

h5,
.h5 {
    font-size: 1rem;
    line-height: 1rem;
}

h6,
.h6 {
    font-size: .9rem;
    line-height: .9rem;
}




/*Paragraphes*/

p,
.p {
    font-size: 1rem;
    line-height: 1.15rem;
}




/*Bloc de citations*/

quote,
.quote {
    margin: 2vw;
}

blockquote,
.blockquote {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: aliceblue;
}

blockquote p::before,
.blockquote p::before {
    content: '\201C';
}

blockquote p::after,
.blockquote p::after {
    content: '\201D';
}


figcaption,
.figcaption {
    margin: 1rem 1rem 1rem 2.5rem;
}

figcaption p,
.figcaption p {
    color: #808080;
}

figcaption cite,
.figcaption cite {
    font-style: italic;
}



/* Crédits :
	Baptiste -> Style typographie
	Bryan -> Nom des classes
*/
