:root {
  --baseUnit: 16px;
  /* All Colours
  ____________________________________________________________________________________________*/
--primaryColor: 255, 112, 44;
--secondaryColor: 255, 151, 102;
--thirdColor: 255, 187, 155;
--blackColor: 37, 12, 0;
--whiteColor: 255, 249, 247;
--greyColor: 231, 223, 221;
  /* Padding & Margin
  ____________________________________________________________________________________________*/
}
